h1 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
  background-color: #282c34;
  color: whitesmoke;
  align-items: center;
  padding: 25px;
}

.btn-outline-secondary {
  margin: 7px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: 450px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  

}

.form-select{
  width: 40%;
  text-align: center;
  margin: auto;
}

.AddNewMed {
  text-align: center;
  width: 99%;
}

.AddNewMeeting-form {
  width: 25%;
  text-align: center;
  margin: auto;
}

.form-control{
  text-align: center;
}
